<header>
<div class="navbar navbar-inverse navbar-fixed-top">

    <form action="/" class="left" method="get">
      <input type="submit" value="Home">
    </form>
    <% if current_user %>
      <form class="right" action="/logout" method="get">
          <input type="submit" value="Not <%= current_user.username %>?">
      </form>
    <% else %>
    <% end %>
    <br>


</div>
</header>