<meta http-equiv="refresh" content="2">
<div class="container">
  <h2><%= @room.name %></h2><br>

  <br> <%= @msg  %>  <br><br>
  <form action="/room/<%=@room.id%>/start" method="post">
    <input name="_method" type="hidden" value="patch">
    <input type="submit" value="Start the game">
  </form>

   <form class="right" action="/leave/<%=@room.id%>" method="post">
    <input name="_method" type="hidden" value="patch">
    <input type="submit" value="Leave the room">
  </form>

</div>
